body {
    background-image: url("Art/gBG2.png");
    background-color: #484542;

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vh;
    max-width: 100%;
}

.outer {
    display: table;
    position: absolute;
    top: -50px;
    left: 0px;
    height: 100%;
    width: 100%;
  }
  
.middle {
    display: table-cell;
    vertical-align: middle;
}
  
.inner {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.centered{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 90vh;
}

/*Main box in center of background*/
.mainContainer{
    background-color: #ffffff;
    color: #7e6560;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 1em;
    background-position: center;
    justify-content: center;
    padding: 50px;
    opacity: 0.94;
}

h1 {
    color: #484542;
    letter-spacing: 1px;
    font-size: 2em;
    text-align: center;
}

h2 {
    color: #7e6560;
    font-style: italic;
    letter-spacing: .5px;
    font-size: 1.5em;
    text-align: center;
}

/*Main banner img styling*/
.mainBanner img{
    max-width: 700px;
    height: auto;
    border-radius: 30px;
    padding: 15px;
}

/*Image to the left of heading "Doctah Gonz"*/
.avatarCircle {
    float: left;
    max-width: 300px;
    height: 250px;
    border-radius: 50%;
}

.avatarCircle img{
    width: auto;
    height: 100%;
}

.links {
    display: inline-block;
    text-align: center;
    border-radius: .5em;
    padding: 12px;
}

/*4 Boxes of art next to each other*/
.artRow {
    float: left;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    padding: 30px;
}
  
/*Images in box are low opacity*/
.artRow img {
    max-width: 600px;
    max-height: 300px;
    opacity: 0.8;
    cursor: pointer;
}

/*Hover over box = full colour*/
.artRow img:hover {
    opacity: 1;
}